/* Ana Kısım */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --text-color: #F5F8F3;
    --sc-txtcolor: #365194;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 8rem 10% 2rem;
}
/* navbar*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 20% 2% 16%;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 4rem;
    margin-right: 10px;
    width: 11rem;
}

.menu-btn {
    display: none;
  }

.bar a {
    font-size: 1rem;
    margin-right: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bolder;
}

.bar button{
    background-color: #F39F15;
    border-radius: 4px;
    border: none;
    height: 26px;
}
/* Yazıların olduğu orta kısım */

.home {
    background-image: url(img/heroman.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    padding: 8rem 20% 2% 16%;
}

.power {
    background-color: #325494;
    border-radius: 4px;
    border: none;
    height: 26px;
    color: var(--text-color);
    width: 7rem;
    text-shadow: 2px 2px 4px #000000;
    font-weight: bolder;
    text-align: center;
    padding-top: 0.2rem;
}

.container h1 {
    font-size: 70px;
    font-weight: 700;
}

.container > p {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 23px;
    font-weight: 700;
    padding: 1rem ;
}

.sign {
    background-color: #355592;
    border-radius: 4px;
    border: none;
    height: 2.5rem;
    width: 7rem;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 800;
}
.details {
    border-radius: 4px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 2.5rem;
    width: 7rem;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    margin-left: 2rem;
}

/* box kısmı */
.flex-container {
    display: flex;
    background-color: #F1F8FF;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
}

.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 15rem;
    height: 7rem;
}

.flex-container > div > p {
    color: var(--sc-txtcolor);
    font-weight: 800;
    text-align: center;
    font-size: 23px;
}

.flex-container > div > p > span {
    color: black;
    font-weight: 800;
}

/* Responsive */
@media screen and (max-width: 790px) {
    .menu-btn {
        display: none;
      }
      .menu-icon {
        display: block;
        font-size: 3rem;
        color: var(--text-color);
        cursor: pointer;
      }
      .bar {
        position: absolute;
        transform: translateY(-400px);
      }
      nav {
        padding-right:5%;
    }
      .menu-btn:checked ~ .bar {
        display: grid;
        justify-content:end;
        top: 100%;
        left: 0;
        width: 100%;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.2);
        transform: translateY(0);
        transition: 0.2s linear;
      }
      .menu-btn:checked ~ .bar a {
        font-size: 1rem;
        margin: 2rem 0;
      }
      .home {
        height: 140vh;
    }
    .flex-container > div {
        height: 8rem;
    }
}